version: '3.8'

services:
    # Baza danych MySQL
    mysql:
    image: mysql:8.0.36
    restart: always
    env_file: .env
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - wordpress_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # WordPress
  wordpress:
    image: wordpress:6.4.3-php8.2-apache
    restart: always
    env_file: .env
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - wordpress_network
    ports:
      - "80:80"
# Wolumeny do przechowywania danych
volumes:
  mysql_data:
  wordpress_data:
  
# Sieć dla kontenerów
networks:
  wordpress_network:
    driver: bridge

